body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  font-size: smaller;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightgrey;
  color: darkgray;
}

.footer p {
  margin: 15px 0 0 0;
}

.footer > a {
  margin: 0 0 15px 0;
}
.main {
  display: flex;
  justify-content: space-between;
  margin: 30px 100px;
}

.main div {
  border: red 1px solid;
}

.main-body {
  display: flex;
}

.left-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about,
.archives {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0 20px;
  margin: 0;
  flex-grow: 2;
}

.about {
  background-color: lightgrey;
}

.about h1,
.archives h1 {
  font-style: italic;
}

.main-body {
  width: 1200px;
}
